@{
    ViewBag.Title = "About - Eric D";
}
<h2>@ViewBag.Title.</h2>
<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAS4AAAAJDE5ZGM1N2YzLTQyNzAtNDM1OS04ZmU4LTMxZmRjMTNmMjMzMA.jpg" alt="" style="float:left;width:128px;height:128px;">
<br />
<br /><br />
<br /><br /><br />
<h3>My Job History</h3> <img src="http://datadrivendetroit.org/wp-content/uploads/2015/03/Jobs-Graphic.jpg" alt="" style="float:right;width:128px;height:128px;">

<ul>
    <li>Franco Signor</li>
    <li>Reebok</li>
    <li>Army National Guard</li>
    <li>Levi Strauss & Co</li>
</ul>
<br />
<h3>My Education</h3> <img src="http://www.socioculturerelation.org/img/education.jpg" alt="" style="float:right;width:128px;height:120px;">
<ul>
    <li>Lakewood Ranch High School</li>
    <li>State College of Florida - Computer Science</li>
</ul>
<br />
<br />
<h3>Certifications</h3> <img src="http://www.iasiu.org/wp-content/uploads/2014/03/technical-certification-300x287.gif" alt="" style="float:right;width:128px;height:128px;">
<ul>
    <li>Adobe Dreamweaver CS4</li>
    <li>Adobe Photoshop CS3</li>
</ul>
<br />
<br />
<br />
<h3>Hobbies</h3> <img src="http://cdn.grindtv.com/wp-content/uploads/2015/02/shutterstock_242371765.jpg" alt="" style="float:right;width:128px;height:128px;">
<ul>
    <li>Running</li>
    <li>Skydiving</li>
    <li>Camping</li>
    <li>Coding</li>
</ul>
<br />
<br />
<br />